<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProLoop.WordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProLoop.WordAddin.Properties.Settings>
            <setting name="SaveProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveClient" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveMatter" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveEntityName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenClient" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenMatter" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenEntity" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenOrganisation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenClientId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenMatterId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveOrganization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveClientId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveMatterId" serializeAs="String">
                <value>0</value>
            </setting>
        </ProLoop.WordAddin.Properties.Settings>
    </userSettings>
</configuration>